
.card
{
	width:400px;
	height:400px;
	box-shadow:0px 0px 20px 0px gray;
	padding:30px;
	font-family:sans-serif;
	margin:40px;
	border-radius:6px;
}

.textf
{
	width:300px;
	height:40px;
	margin:10px;
	padding:10px;
	display:flex;
	border:white;
	box-shadow:0px 0px 10px 0px gray;
}
.greenb
{
	width:300px;
	height:40px;
	margin:10px;
	padding:10px;
	text-align:center;
	background:green;
	border:green;
	border-radius:6px;
	color:white;
	font-size:15px;
}