
.card
{
	display:flex;
}
.incard
{
	display:inline-block;
}
.procard
{
	width:400px;
	height:440px;
	box-shadow:0px 0px 10px 0px gray;
	margin:0px 10px;
	padding:10px;
}
.im
{
	width:230px;
	height:300px;
}
button.b
{
	background:brown;
	color:white;
	width:100px;
	height:35px;
}