body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.header {
    background: #333;
    color: white;
    padding: 15px;
}

.header a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 10px;
    background: #eee;
}
