.photoframe
{
  width:300px;
  border-color:solid blue;
  border-radius:5px;
  margin:10px;
  padding:15px;
}
table
{
	border-color:black;
	border-width:medium;
	padding:5;
	width:500px;
	height:300px;
}
.header
{
	font-weight:bold;
	background:yellow;
}
.b
{
	background:black;
}

