img.photoframe
{
  width:300px;
  border:5px solid blue;
  margin:10px;
  padding:15px;
}
table.table1
{
	padding:5;
	border:2px solid black;
}
.header
{
	font-weight:bold;
	background:yellow;
}
.b
{
	background:black;
	color:white;
}
.card
{
	padding:10px;
	margin:10px;
	width:500px;
	height:500px;
	background:white;
	border-radius:10px;
	box-shadow:0px 0px 30px 0px gray;
}

